.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*~
*.swp
*.swo
*.orig
.vscode/
.idea/
*.log
*.bak
*.tmp
*.backup
*.draft.*
*.drawio.bkp
*.bpmn.bkp
~$*.docx
~$*.xlsx
*.aux
*.out
*.toc
*.pdf
/output/
private_notes/
